<h1>Your Orders</h1>
<br>

<table class="my_tables display responsive no-wrap">
  <thead>
    <tr>
      <th></th>
      <th>Seller</th>
      <th>Meteorite</th>
      <th>Weight</th>
      <th>Cost</th>
      <th>Added to Cart</th>
    </tr>
  </thead>

  <tbody>
    <% @new_orders.each do |order| %>
      <tr>
        <td><button type="button" class="cancel_button" value="<%= order.id %>" >Cancel</button></td>
        <td><%= order.posting.user.email %></td>
        <td><%= order.posting.meteorite.name %></td>
        <td><%= order.posting.weight %></td>
        <td><%= order.posting.cost %></td>
        <td><%= order.created_at %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
<button type="button" class="order_button">Place Order</button>
<br>

<h1>Previous Orders</h1>
<br>

<table class="my_tables display responsive no-wrap">
  <thead>
    <tr>
      <th>Seller</th>
      <th>Meteorite</th>
      <th>Weight</th>
      <th>Cost</th>
      <th>Order Placed On</th>
    </tr>
  </thead>

  <tbody>
    <% @old_orders.each do |order| %>
      <tr>
        <td><%= order.posting.user.email %></td>
        <td><%= order.posting.meteorite.name %></td>
        <td><%= order.posting.weight %></td>
        <td><%= order.posting.cost %></td>
        <td><%= order.updated_at %></td>
      </tr>
    <% end %>
  </tbody>
</table>
