<p>
  <strong>User:</strong>
  <%= @posting.user.email %>
</p>

<p>
  <strong>Meteorite:</strong>
  <%= @posting.meteorite.name %>
</p>

<p>
  <strong>Weight:</strong>
  <%= @posting.weight %>
</p>

<p>
  <strong>Cost:</strong>
  <%= @posting.cost %>
</p>

<%= link_to 'Edit', edit_posting_path(@posting) %> |
<%= link_to 'Back', postings_path %>
