<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @meteorite.name %>
</p>

<p>
  <strong>Class:</strong>
  <%= @meteorite.meteorite_class %>
</p>

<p>
  <strong>Mass:</strong>
  <%= @meteorite.mass %>
</p>

<p>
  <strong>Year:</strong>
  <%= @meteorite.year %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @meteorite.latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @meteorite.longitude %>
</p>

<%= link_to 'Edit', edit_meteorite_path(@meteorite) %> |
<%= link_to 'Back', meteorites_path %>
